{% extends "base.html" %}
{% block title %}HomePage{%endblock%}
{% block content %}

<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 95%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #333;
  color: white;
}
</style>
</head>
<body>

<h2>BLE Found Devices</h2>

<table>
  <tr>
    <th>Name</th>
    <th>MAC</th>
    <th>Verbindung</th>
  </tr>
  <tr>
    <td> {{ Name1 }}</td>
    <td> {{ MAC1 }}</td>
    <td> {{ connect1 }}</td>
  </tr>
  <tr>
    <td> {{ Name2 }}</td>
    <td> {{ MAC2 }}</td>
    <td> {{ connect2 }}</td>
  </tr>
  <tr>
    <td> {{ Name3 }}</td>
    <td> {{ MAC3 }}</td>
    <td> {{ connect3 }}</td>
  </tr>
  <tr>
    <td> {{ Name4 }}</td>
    <td> {{ MAC4 }}</td>
    <td> {{ connect4 }}</td>
  </tr>
  <tr>
    <td> {{ Name5 }}</td>
    <td> {{ MAC5 }}</td>
    <td> {{ connect5 }}</td>
  </tr>
  <tr>
    <td> {{ Name6 }}</td>
    <td> {{ MAC6 }}</td>
    <td> {{ connect6 }}</td>
  </tr>
  <tr>
    <td> {{ Name7 }}</td>
    <td> {{ MAC7 }}</td>
    <td> {{ connect7 }}</td>
  </tr>
  <tr>
    <td> {{ Name8 }}</td>
    <td> {{ MAC8 }}</td>
    <td> {{ connect8 }}</td>
  </tr>
  <tr>
    <td> {{ Name9 }}</td>
    <td> {{ MAC9 }}</td>
    <td> {{ connect9 }}</td>
  </tr>
  <tr>
    <td> {{ Name10 }}</td>
    <td> {{ MAC10 }}</td>
    <td> {{ connect10 }}</td>
  </tr>
  <tr>
    <td> {{ Name11 }}</td>
    <td> {{ MAC11 }}</td>
    <td> {{ connect11 }}</td>
  </tr>
  <tr>
    <td> {{ Name12 }}</td>
    <td> {{ MAC12 }}</td>
    <td> {{ connect12 }}</td>
  </tr>
  <tr>
    <td> {{ Name13 }}</td>
    <td> {{ MAC13 }}</td>
    <td> {{ connect13 }}</td>
  </tr>
  <tr>
    <td> {{ Name14 }}</td>
    <td> {{ MAC14 }}</td>
    <td> {{ connect14 }}</td>
  </tr>
  <tr>
    <td> {{ Name15 }}</td>
    <td> {{ MAC15 }}</td>
    <td> {{ connect15 }}</td>
  </tr>
</table>

</body>
</html>

{% endblock %}

