{% extends "base.html" %}
{% block title %}Wifi Encryption{%endblock%}
{% block content %}

<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 95%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #333;
  color: white;
}
</style>
</head>
<body>

<h2>Wifi Encryption Strength</h2>

<table>
  <tr>
    <th>SSID</th>
    <th>MAC</th>
    <th>Encryption</th>
    <th>Last seen</th>
  </tr>
  <tr>
    <td> {{ SSID1 }}</td>
    <td> {{ MAC1 }}</td>
    <td> {{ Encryption1 }}</td>
    <td> {{ ls1 }}</td>
  </tr>
  <tr>
    <td> {{ SSID2 }}</td>
    <td> {{ MAC2 }}</td>
    <td> {{ Encryption2 }}</td>
    <td> {{ ls2 }}</td>
  </tr>
  <tr>
    <td> {{ SSID3 }}</td>
    <td> {{ MAC3 }}</td>
    <td> {{ Encryption3 }}</td>
    <td> {{ ls3 }}</td>
  </tr>
  <tr>
    <td> {{ SSID4 }}</td>
    <td> {{ MAC4 }}</td>
    <td> {{ Encryption4 }}</td>
    <td> {{ ls4 }}</td>
  </tr>
  <tr>
    <td> {{ SSID5 }}</td>
    <td> {{ MAC5 }}</td>
    <td> {{ Encryption5 }}</td>
    <td> {{ ls5 }}</td>
  </tr>
  <tr>
    <td> {{ SSID6 }}</td>
    <td> {{ MAC6 }}</td>
    <td> {{ Encryption6 }}</td>
    <td> {{ ls6 }}</td>
  </tr>
  <tr>
    <td> {{ SSID7 }}</td>
    <td> {{ MAC7 }}</td>
    <td> {{ Encryption7 }}</td>
    <td> {{ ls7 }}</td>
  </tr>
  <tr>
    <td> {{ SSID8 }}</td>
    <td> {{ MAC8 }}</td>
    <td> {{ Encryption8 }}</td>
    <td> {{ ls8 }}</td>
  </tr>
  <tr>
    <td> {{ SSID9 }}</td>
    <td> {{ MAC9 }}</td>
    <td> {{ Encryption9 }}</td>
    <td> {{ ls9 }}</td>
  </tr>
  <tr>
    <td> {{ SSID10 }}</td>
    <td> {{ MAC10 }}</td>
    <td> {{ Encryption10 }}</td>
    <td> {{ ls10 }}</td>
  </tr>
  <tr>
    <td> {{ SSID11 }}</td>
    <td> {{ MAC11 }}</td>
    <td> {{ Encryption11 }}</td>
    <td> {{ ls11 }}</td>
  </tr>
  <tr>
    <td> {{ SSID12 }}</td>
    <td> {{ MAC12 }}</td>
    <td> {{ Encryption12 }}</td>
    <td> {{ ls12 }}</td>
  </tr>
  <tr>
    <td> {{ SSID13 }}</td>
    <td> {{ MAC13 }}</td>
    <td> {{ Encryption13 }}</td>
    <td> {{ ls13 }}</td>
  </tr>
  <tr>
    <td> {{ SSID14 }}</td>
    <td> {{ MAC14 }}</td>
    <td> {{ Encryption14 }}</td>
    <td> {{ ls14 }}</td>
  </tr>
  <tr>
    <td> {{ SSID15 }}</td>
    <td> {{ MAC15 }}</td>
    <td> {{ Encryption15 }}</td>
    <td> {{ ls15 }}</td>
  </tr>
</table>

</body>
</html>

{% endblock %}

